/* Reset básico */
* {
    margin: 0;
    padding: 20;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #642C9D;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 40px;
    max-width: 800px;
    margin: auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #642C9D;
    margin-bottom: 10px;
}

h4 {
    color: #642C9D
}

section {
    margin-bottom: 20px;
}

video {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

footer {
    background-color: #642C9D;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

p {
    line-height: 1.6;
}

li {
    line-height: 1.9
}